body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgb(172, 85, 248);
  text-align: center;
  padding: 50px 200px;
  font-size: 2rem;
}

p {
  padding: 10px 100px;
}

img {
  max-width: 500px;
}

.main {
  width: 100%;
}

.animal-header {
  background-color: rgb(222, 218, 247);
  width: 100%;
}

.content {
  background-color: rgb(97, 200, 241);
  font-weight: bolder;
  color: rgb(7, 81, 146)
}

.images {
  display: flex;
  justify-content: center;
}